
@media (max-width: 1148px) {
    .row {
        justify-content: center;
    }

    .form__input {
        width: 25%;
    }
}

@media (max-width: 776px) {
    .recipe__box-img {
        min-width: 0;
    }

    .recipe__text {
        margin-bottom: 15px;
        min-height: 0;
    }
}

@media (max-width: 420px) {
    .recipes_sub {
        flex-direction: column;
    }
}