.recipe_buttons {
  border: solid 2px #f16821;
  background: transparent;
  padding: 0.4rem 0.6rem;
  margin: 0 0.2rem;
  border-radius: 1px;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  margin-left: 0.7rem;
}

.recipe__con{
  margin: 20px auto;
}

.recipes__box {
  background: #fff;
  padding: 1rem 20px 1.7rem;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: -1px 2px 34px -13px rgba(0, 0, 0, 0.75);
  text-align: left;
  overflow: hidden;
  min-height: 372px;
  width: 340px;
}

.recipe__box-img{
  min-width: 300px; 
  min-height: 220px;
}

.recipe__text {
  margin-left: 15px;
  min-height: 128px;
}

.recipes__title {
  color: #f16821;
  text-transform: uppercase;
  font-size: 1.1rem;
  padding: 1.8rem 0 0.2rem 0;
}

.recipes_sub {
  display: flex;
}

.recipes_sub p {
  flex-basis: 50%;
}

.recipes__subtitle {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.8rem;
  letter-spacing: 2px;
}

.recipes__subtitle span {
  text-transform: none;
  font-weight: 400;
  font-size: 0.8rem;
  letter-spacing: 1px;
  padding-left: 5px;
}

.recipes_subtitle_logo {
  color: #42586e;
  font-size: 1.25rem;
  font-weight: 600;
  padding-left: 2px;
}
