/* https://colorhunt.co/palette/136945 */
body {
  background:#f3f3f3;
  font-family: 'Roboto Slab', serif;
}

.section {
  max-width: 1140px;
  margin: 68px auto 2em;
  padding: 2rem 0.5rem;
}

a {
  color: #f16821;
}

a:hover {
  color: #42586e;
  border-color: #d2500d;
  text-decoration: none;
  transition: color 0.2s;
}

a:not(:hover),
h1:not(:hover)
{
  transition: color 0.2s;
}

button:focus {
  outline: none;
}

input[type="text"] { 
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #f3f3f3 inset;
  -webkit-text-fill-color: #2c3e50 !important;
}
