/* https://colorhunt.co/palette/136945 */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background:#f3f3f3;
  font-family: 'Roboto Slab', serif;
}

.section {
  max-width: 1140px;
  margin: 2em auto;
}

img {
  width: 100%;
  height: 220px;
}

a {
  color: #f16821;
}

a:hover {
  color: #c24a0c;
  text-decoration: none;
  transition: color 0.2s;
}

a:not(:hover),
h1:not(:hover)
{
  transition: color 0.2s;
}

button:focus {
  outline: none;
}

input[type="text"] { 
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #f3f3f3 inset;
  -webkit-text-fill-color: #2c3e50 !important;
}

/******** RECIPE.js ********/

.active-recipe {
  margin: 0 auto;
  width: 60%;
}

.active-recipe__img {
  height: 500px !important;
}

.active-recipe__title {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 1rem 0;
}

.active-recipe__publisher, .active-recipe__website {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.active-recipe__publisher span {
  text-transform: none;
  font-weight: 300;
  letter-spacing: 2px;
  margin-left: 5px;
}

.active-recipe__website span {
  text-transform: lowercase;
  font-weight: 300;
  letter-spacing: 2px;
  color: #f16821;
  margin-left: 10px;
}

.active-recipe__button {
  border: solid 2px #f16821;
  background: transparent;
  padding: 0.2rem 0.9rem;
  margin: 0 0.2rem;
  border-radius: 1px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 500;
}