.navbar {
    align-items: center;
}

.navbar>.navbar-brand{
    flex-grow: 0.25;
    font-size: 1.2em;
}

.navbar>.navbarExternalLinks{
flex-grow: 0.75;
}

/* nav search form */
.navbar>.formStyle {
    flex-grow: 1;
    text-align: right;
}
  
.fas {
    padding-right: 5px;
}