@media screen and (max-width: 1087px) {
  .navbar {
    display: block;
    align-items: center;
    box-shadow: 2px 1px 4px 0px rgba(0, 0, 0, 0.281);
  }


  .navbar .navbar-menu {
    box-shadow: none;
  }

  .navbar .formStyle {
    display: block;
}

  .navbar > .formStyle input {
    width: 30%;
  }

  .field.is-grouped {
    flex-basis: 100%;
    justify-content: space-between;
  }
}

@media screen and (max-width: 448px) {
  .navbar-item .field {
    flex-direction: column;
  }

  .navbar-menu {
    justify-content: center;
  }

  .field.is-grouped p {
    text-align: right;
  }

  .field.is-grouped > .control:not(:last-child) {
    margin-right: 0;
    margin-bottom: 16px;
  }

  .navbar > .formStyle input {
    width: 50%;
  }

  .navbar > .navbar-brand {
    font-size: 1em;
  }
}
